{% extends 'index_base.html' %}
{% block title %}Cop Structure{% endblock %}

{% block content %}

        <section class="bedcrump about-bc">
            <h1 class="mt-5">about</h1>
            <p class="primary_btn px-5">Corporate structure</p>
        </section>

        <section>
            <div class="container py-5">
                <h3 class="sec_title text-center">Our Corporate structure</h3>
                <p class="sec_des">Soluserv (GH) Limited Current Organogram</p>

                <img src="/static/img/cs.png" alt class="img-fluid">
            </div>
        </section>
        
{% endblock %}