{% extends 'index_base.html' %}
{% block title %}Media{% endblock %}

{% block content %}

        <section class="bedcrump media-bc">
            <h1 class="mt-5">Media</h1>
            <p class="primary_btn px-5">Our Project Media</p>
        </section>

        <section class="media">
            <div class="container py-5">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <img src="/static/img/construction-1.jpg" alt class="img-fluid">
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="row mb-4">
                            <div class="col-6">
                                <img src="/static/img/construction-3.jpg" alt class="img-fluid">
                            </div>
                            <div class="col-6">
                                <img src="/static/img/construction-2.jpg" alt class="img-fluid">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <img src="/static/img/construction-3.jpg" alt class="img-fluid">
                            </div>
                            <div class="col-6">
                                <img src="/static/img/construction-2.jpg" alt class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">

                    <div class="col-12 col-lg-6">
                        <div class="row mb-4">
                            <div class="col-6">
                                <img src="/static/img/repairs-2.jpg" alt class="img-fluid">
                            </div>
                            <div class="col-6">
                                <img src="/static/img/repairs-3.jpg" alt class="img-fluid">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <img src="/static/img/how-to-join.jpg" alt class="img-fluid">
                            </div>
                            <div class="col-6">
                                <img src="/static/img/construction-2.jpg" alt class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <img src="/static/img/repairs-1.jpg" alt class="img-fluid">
                    </div>
                </div>

            </div>
        </section>

{% endblock %}