{% extends 'index_base.html' %}
{% block title %}Services{% endblock %}

{% block content %}

        <section class="bedcrump about-bc">
            <h1 class="mt-5">Services</h1>
        </section>

        <div class="services">

            <section id="Eng-dril-serv">
                <div class="container py-5">
                    {% for weds in weds %}
                    <h3 class="sec_title d-flex justify-content-center mb-4 ">{{weds.title}}</h3>
                    <p>{{weds.description}}</p>
                    {% endfor %}
                    {% for weds in weds %}
                    <h5 class="sec_title mb-1" style="font-size: 25px;">{{weds.title}}</h5>
                    <p>{{weds.description}}</p>
                    {% endfor %}
                </div>
            </section>

            <section id="Well-prod-serv">
                <div class="container py-5">
                    {% for wsps in wsps %}
                    <h3 class="sec_title d-flex justify-content-center mb-4 text-light">{{wsps.title}}</h3>
                    <p>{{wsps.description}}</p>
                    {% endfor %}
                    {% comment %} <ul class="list-unstyled">
                        <li><i class="bi bi-check"></i> Our personnel have extensive experience in</li>
                        <ul class="list-unstyled ">
                            <li>-- Well Planning and Design assisted by a variety of industry recognized planning software including Landmark Drilling Engineering suite – Wellplan; StressCheck; Casing Seat and Wellcat;</li>
                            <li>-- Complex Well Planning including: ERD; Managed Pressure Drilling; HPHT; Deep and Ultra-deep well planning, Multi-Lateral, Slimhole and Thru-Tubing, and wells with high H2S and high CO2</li>
                            <li>-- Advanced Casing Design; Drillstring Design and Optimization.</li>
                            <li>-- Risk Assessment, HAZID, Peer-Assist and Quantitative Risk Assessment and Analysis (QRA) applications to Well Planning AFE Preparation and Implementation.</li>
                            <li>-- Drilling Cuttings Re-Injection (CRI) Feasibility, Geomechanical Modelling, Well Engineering, Equipment installation and Process Implementation.</li>
                        </ul>
                        <li><i class="bi bi-check"></i> We also provides “Peer-Reviewed” and “Peer-Assisted” engineering solutions – providing experienced assistance at all stages, giving assistance to optimize the well design, planning and rig operations.</li>
                    </ul>

                    <p>SOLUSERV (GH) LIMITED is able to provide contract or consultancy drilling and well servicing manpower. The service is specifically adapted to meet the needs of the independent contractor, as well as those of the client. Provision of marine & engineering staff in both onshore and offshore support to various offshore construction and development projects. Integrity and reliability is our aim. <br><br>Our personnel functions are both office and rig-site based, with extensive
                        experience in the North Sea, North Africa, Former Soviet Union and other international locations.</p> {% endcomment %}
                </div>
            </section>

            <section id="Oil-serv" class="py-5">
                <h3 class="sec_title">OIL CUSTODY TRANSFER</h3>

                <div class="container py-5">
                    <div class="logo">
                        <img src="/static/img/dw-tools.png" alt class="img-fluid">
                    </div>
                    <p>Market leader in Downhole Products designs, manufactures and supplies a range of casing accessories, completion tools, including centralizers, reamer guide shoes and cable clamp protectors. DHP Ltd is based in Aberdeen, Scotland.
                        For more information, please visit their <a href="#">website</a>.</p>

                    <img src="/static/img/dh-tools.png" alt class="img-fluid tools" style="max-width:1000px; ">
                </div>

                <div class="container py-5">
                    <div class="logo">
                        <img src="/static/img/varel.png" alt class="img-fluid ">
                    </div>
                    <p>In collaboration with Varel Europe SAS, SOLUSERV (GH) LIMITED supplies drill bits and drilling optimization support services. Varel is based in Pau, France. To read more, please visit their <a href="#">website</a>.</p>

                    <img src="/static/img/og-tools.png" alt class="img-fluid tools">
                </div>

                <div class="container py-5">
                    <div class="logo"> <img src="/static/img/wwt.png" alt class="img-fluid"></div>
                    <p>Provision of non-rotating protectors (NRP) for the reduction of rotating torque and drag, casing and riser protection during directional, extended reach, side tracking and deep-water drilling operations. To read more, please visit their <a href="#">website</a>.</p>

                    <img src="/static/img/dw-tools-2.png" alt class="tools" style="max-width:1000px;">
                </div>

                <div class="container py-5">
                    <div class="logo"> <img src="/static/img/saturm.png" alt class="img-fluid "></div>
                    <p>Soluserv (GH) Ltd in collaboration with Stratum Reservoir is able to perform rock & fluid analysis as well as drill cuttings analysis for companies.</p>
                </div>

                <div class="container py-5">
                    <div class="logo">
                        <img src="/static/img/ten.png" alt class="img-fluid">
                    </div>

                    <p>Soluserv (GH) Ltd in collaboration with Stratum Reservoir is able to perform rock & fluid analysis as well as drill cuttings analysis for companies.</p>
                </div>

            </section>

            <section id="min-serv" class="minLab-ser">
                <div class="container py-5">
                    <h3 class="sec_title d-flex justify-content-center mb-4">MINING LAB SERVICES & FABRICATION</h3>
                    <div id="jv-pat">

                        <h3 class="sec_title "><i class="bi bi-circle-fill"></i>Joint Ventures</h3>
                        <p>Soluserv (GH) Ltd. is in a Joint Venture (JV) partnership with SGS Ghana Limited (SGS Soluserv limited) to provide laboratory analytical services of samples, minerals services and environmental sampling support to the Mining sector in Ghana. The JV also provides technical support with regards to other types of environmental samples such as soil, noise, vegetation, agricultural crops, fish and air quality monitoring filters.</p>

                        <h3 class="sec_title"><i class="bi bi-circle-fill"></i>Stratum Reservoir</h3>
                        <p>Soluserv (GH) Ltd in collaboration with Stratum Reservoir is able to perform rock & fluid analysis as well as drill cuttings analysis for companies.</p>

                        <h3 class="sec_title"><i class="bi bi-circle-fill"></i>Tendeka</h3>
                        <p>SGL is in Collaboration with Tendeka for the provision of Intelligent Completion Tools as well as support companies with Dynamic Downhole Reservoir Management System.
                        </p>

                    </div>
                </div>
            </section>

            <section id="work-hist" class=" sec-2">
                <div class="container py-5">
                    <h3 class="sec_title text-light d-flex justify-content-center mb-5">WORK HISTORY</h3>
                    <h3 class="sec_title"><i class="bi bi-circle-fill"></i>Services Rended</h3>
                    <p><i class="bi bi-caret-right-fill"></i> Since 2018 – Present: SGL has been providing Deepwater Project Management Services to Eco Atlantic Oil and Gas Ghana Limited. This includes generation of the requisite documentation and management systems for planning of an upcoming exploration programme.</p>
                    <p><i class="bi bi-caret-right-fill"></i> Soluserv has the capacity to support companies with the preparation of detailed Well Operations documents, that is, Well Operations Policy Documents, Well Operations manuals, recommended practices, drilling programmes, detailed procedure for drilling operations, etc. Drilling manuals and procedures can be developed for clients upon request. Furthermore, the company is committed to developing local skills, recruiting and training
                        Ghanaian engineers in the technical areas, and transferring sufficient knowledge and technical know-how, such that a high level of expertise can be achieved in the industry.</p>
                    <p><i class="bi bi-caret-right-fill"></i> SGL provides Custody Transfer Inspection Services in respect of crude oil cargo handling as well as Subsea Sampling Validation and Transfer Services in respect of custody transfer and processing for Tullow’s TEN and JUBILEE Fields. </p>
                    <p><i class="bi bi-caret-right-fill"></i> Soluserv has provided Third Party Inspector (TPI) services in Takoradi for Foxtrot International. This involves the inspection of completion equipment (permanent and downhole service tools) to confirm it is fit for purpose/has not incurred damage during shipping and transit process. The TPI then witnesses the makeup and test (torque and pressure testing etc.) of all assemblies and service tools as per the relevant service company’s
                        Service Quality Plan (SCP).
                        The QA/QC support involves the inspection and witnessing of workshop preparation and testing of completion equipment at the Baker Hughes base in Takoradi. The completion tools once assembled and tested were then transferred to Abidjan for onward shipment of the equipment offshore. The TPI ensures the cargo carriers were fit for purpose and certified with minimum 6 months before expiration.</p>
                    <p><i class="bi bi-caret-right-fill"></i> Soluserv in recent past performed for Foxtrot international, survey of liquid Mud Plants (LMP) of Halliburton and Schlumberger as well as inspections of their respective warehousing, cementing storage plants and mud and cementing laboratories. </p>
                    <p class="mb-1"><i class="bi bi-caret-right-fill"></i> Soluserv has been awarded a contract by ENI to undertake “Quality Surveillance and Inspection Services on Well Operations Materials, Services and relevant Tools and Equipment”. The service comprises the following:
                        <ul class="ml-5">
                            <li>Ensuring Company’s Contractors performances for compliance to applicable international standards and Company’s Contractor QC plan and Company contractual requirements.</li>
                            <li>Organizing, supervising and tracking the readiness of rotary down-hole tools and its related equipment. </li>
                            <li>Serving as a consistent QC enforcement presence working at the front lines such as vendor shops and rig site.</li>
                        </ul>
                    </p>
                    <p class="mb-1"><i class="bi bi-caret-right-fill"></i> The specific tools and equipment subject to inspection surveillance, assembly, function testingand repair as applicable include but not limited to:
                        <ul class="ml-5">
                            <li>Equipment in Company Warehouse (Wellhead, Casing/Tubing, Completion accessories etc.)</li>
                            <li>Rental Equipment / Specialty Tools (MWD, LWD, jars, downhole motors, hangers, etc.)</li>
                            <li>Drill pipe, HWDP, Drill Collars, and other various rig-owned BHA</li>
                            <li>Handling Equipment</li>
                            <li>Cementing Equipment</li>
                            <li>Upper and Lower Completion Running tools</li>
                            <li>Landing String</li>
                            <li>Casing and Tubing (as applicable during the manufacturing/refurbishment process). </li>
                            <li>Coring Equipment</li>
                            <li>Well Testing Equipment.</li>
                            <li>Frac equipment</li>
                            <li>Any others tools to be run in hole.</li>
                        </ul>
                    </p>
                </div>
            </section>
        </div>

{% endblock %}