/* --------------------------------- Colors --------------------------------- */
$textColor: #2a2a2a;
$whiteColor: #fff;
$darkColor: #141414;
$primaryColor: #0a315e;
$primaryColor_B: #021d3c;
$secondaryColor: #feb900;

/* ---------------------------------- Fonts --------------------------------- */
$primaryFont: "Lato", sans-serif;
$secondaryFont: "Grifter";
